@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }

  .brand{
    font-size: 26px;
    font-weight: 600;
    align-content: center;
    padding-left: 0;
  }
  nav{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    
    
    
  }
  .hamberger{
    display: none;
    height: 50px;
    width: 50px;
  }
  
 
    
   

  nav ul li{
    list-style: none;
    

  }
  nav li a{
    text-decoration: none;
    
  }
  .brand-icon{
    display: flex;
  }
  
  .list{
    display: flex;
    gap: 50px;
    margin-top: 20px;
   
    font-size: 20px;
    font-weight: 600;
    margin-left: 100px;
    
  }
  
  .btn-contact{
    background-color: #FEA301;
    height: 40px;
    width: 150px;
    margin-left: 100px;
    margin-top: 10px;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;

  }
  .home1{
    color: #FEA301;
  }
  .about1{
    color: #01ACFD;
  }
  .facilities1{
    color: #05D4DF;
  }
  .admission1{
    color: #5D58EF;
  }
  .banner{
    display: flex;
    justify-content: center;
    justify-content: center;
    gap: 100px;
  }
 .banner-describe{
    justify-content: center;
    align-content: center;
 }
 .btn-enroll{
    height: 40px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
 }
.empower{
    color: #FEA301;
}
.vision{
    color: #01ACFD;
}
.banner-title{
    font-size: 3rem;
    margin-bottom: 10px;
}
.card{
   display: flex;
   justify-items: center;
   text-align: center;
   margin-left: 10%;
   margin-right: 10%;
   gap: 30px;
   
  
}
.Standard{
    text-align: center;
    margin-bottom: 100px;
    margin-top: 30px;
    
}
.card-container{
    background-image: url(../assets/bg.png);
    background-position: contain;
    height: 100vh;
    
}
.card1{
    background: linear-gradient(to top, #FFFFFF , #DEF5FF);
    
    box-shadow:2px 5px 5px  rgba(0,0,0,0.1);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 10px;
    width: 100%;
    

}
.card-bg{
  background: linear-gradient(to bottom, #FFF4DC , #FFFFFF);
}
.card-bg3{
  background: linear-gradient(to bottom, #EEE1FF , #FFFFFF);
}
.read-more{
  text-decoration: none;
 
}
.read1{
  color: #05D4DF;
}
.read2{
  color: #FEA301;
}
.card-description{
  margin-bottom: 20px;
  margin-top: 20px;
}
.full-story{
  display: flex;
 
  gap: 20px;
  
  padding-bottom: 30px;
  
}
.second-story{
  display:grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
  

  
}
.story-first{
  
  background-color:white;
  box-shadow:2px 5px 5px  rgba(0,0,0,0.1);
 
  
  /* padding-left: 30px;
  
  padding-top: 20px;
  padding-bottom: 20px; */
  /* justify-items: center; */
  /* justify-content: center; */
  align-content: center;
  /* text-align: center; */
 
  margin-left: 5%;
  
}
.para-first{
  /* padding-left:5px;
  padding-right: 5px; */
  margin-top: 15px;

}
.parent-story{
  background-image: url(../assets/bg.png);
  height: 100vh;
  background: linear-gradient(to bottom, #FFF4DC , #FFFFFF);
  margin-bottom: 200px;
  
  

}
.second-story{
  gap: 10px;
  box-shadow:2px 5px 5px  rgba(0,0,0,0.1);
}
.story-one{
  border-radius: 20px;
  
}
.date-button{
  height: 40px;
  width: 150px;
  border-radius: 10px;
  border: none;
  background-color: #3CD8E8;
  color: white;
  margin-top: -30px;
  margin-bottom: 20px;
}
.second-boxes{
  box-shadow:2px 5px 5px  rgba(0,0,0,0.1);
}
.story-title{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-color1{
  background-color:#5D58EF ;
}
.btn-color2{
  background-color: #FEA301;
}
.btn-color3{
  background-color: #95B226;
}
.view-btn{
  margin-left: 45%;
}
footer{
  margin-top: 100px;
  height: 300px;
  width: 100%;
  background-color: #01ACFD;
}
.kids-edu{
  display: flex;

}
.footer-full{
  display: flex;
  gap: 250px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  color: white;
  padding-top: 100px;
  
}
.Icon{
  height: 60px;
  width: 50px;
}
.about-list {
  list-style: none;
  color: white;
  
}
.about-list, a{
text-decoration: none;
color: white;
}
.social-icon{
  display: flex;
}
















@media  screen and (max-width:576px) {
    nav{
        flex-direction: column-reverse;
        border-bottom: 1px solid #FEA301;
        margin-top: 0;
        
        
    }
    .hamberger{
      display: inline;
      height: 60px;
      width: 60px;
      margin-top: 0;
      
     
      
    }
    .logo-image{
      height: 60px;
        width: 60px;
        margin-top: 0;
        

    }
    
    .brand-icon{
     
      
        margin-bottom: 20px;
        /* gap: 300px; */
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        justify-content: space-around;

        
    }
    .list{
        display: none;

    }
    .brand{
        display: none;
    }
    .btn-contact{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
        margin-top: 0;
    }
    .hero-pic{
      height: auto;
      width: 80%;
      
      
    margin-left: 10%;
    margin-bottom: 0;
      
      
    }
    .banner-title{
      font-size: 24px;
        text-align: center;
        margin-top: auto;
        margin-left: 0%;
        margin-right: 0;
        justify-content: center;
    }
    .banner-describe{
        text-align: center;
        
        align-content: center;
    }
    .card{
      flex-direction: column;
      margin-left: 3%;
      margin-right: 10%;
      padding-left: 0;
      padding-right: 0;
      width: 80%;
    }
    .parent-story{
      margin-top: 600px;
    }
    .full-story{
      flex-direction: column;
      align-items: center;
    }
    .story-one{
      width: 80%;
    }
    .second-story{
      margin-left: 5%;
    }
    .date-button{
      height: 30px;
      width: 100px; ;
    }
    .story-one{
      justify-items: center;
      text-align: center;
    }
    .footer-full{
      flex-direction: column;
      

    }
    .view-btn{
      margin-bottom: 1000px;
      margin-top: -700px;
      margin-left: 30%;
      
    }
    .about-list{
      margin-right: 100px;
      margin-left: 100px;
    }
    .social-icon{
      margin-top: -600px;
    }
    .script{
      height: 0;
    }



}